.App {
  margin: 0 auto;
  max-width: 80vw;
  display: grid;
  grid-template-columns: 4fr 8fr;
}

.left {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .settings {
    button {
      margin: 5px;
      font-family: inherit;
    }
  }
  .chats {
    overflow: auto;
    .Ulchats {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      list-style: none;
    }
    .Ulchats li {
      padding: 15px;
      background-color: #e0f2f3;
      border-bottom: 1px solid gray;
    }
    .Ulchats li:hover {
      cursor: pointer;
    }
    .Ulchats .currentChat {
      background-color: green;
    }
  }
}

.right {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  .chat {
    overflow: auto;
    .Ulmessages {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      li {
        margin: 5px 0;
        padding: 5px 10px;
        padding-left: 32px;
        position: relative;
        border-radius: 10px;
        background-color: rgb(231, 229, 229);
        .buttonQuote {
          position: absolute;
          top: 0;
          left: 0;
        }
        .tooltipI {
          color: red;
        }
        .tooltipName {
          text-transform: none;
          color: #800080;
        }
        .tooltipButton {
          padding: 0 !important;
          justify-content: center !important;
          background-color: silver;
        }
      }
      .currentUserMessage {
        align-self: flex-end;
        background-color: rgba(42, 117, 255, 0.336);
      }
      .name {
        color: blue;
      }

      .inputMessageQuote {
        align-self: center;
        position: relative;
        .tooltipI {
          color: red;
        }
        .tooltipName {
          text-transform: none;
          color: #800080;
        }
        .tooltipButton {
          padding: 0 !important;
          justify-content: center !important;
          background-color: silver;
        }
      }
    }
  }

  .inputMessage {
    position: relative;
    button {
      margin: 5px;
      font-family: inherit;
    }
    .wrapperMedia {
      position: absolute;
      bottom: 90px;
      right: 0;
    }
    .inputMessageMedia {
      padding: 20px;
      border: 1px solid blue;
      border-radius: 10px;
      background-color: white;
    }
  }
}

@media (max-width: 640px) {
  .App {
    max-width: 100%;
    grid-template-columns: 1fr;
    .left {
      height: min-content;
      .settings {
        text-align: center;
      }
      .chats {
        display: none;
      }
    }
    .right {
      height: 80vh;
    }
  }
}
